# Eclipse workspace metadata
.metadata/

# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
target/
build/

# Eclipse project files
.project
.classpath
.settings/

# IntelliJ files
.idea/
*.iml

# VS Code
.vscode/

# Mac
.DS_Store